<!DOCTYPE html>
<html>
  
  <head>
    <title>Ngân hàng TMCP Đầu tư &amp; phát triển Việt Nam</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<%= stylesheet_link_tag "bidv", 'data-turbolinks-track' => true %>
        <!-- <link href="app/assets/stylesheets/bidv.css" rel="stylesheet" type="text/css" />
        <script src="app/assets/javascripts/rollover_td.js" language="javascript" type="text/javascript"></script> -->
    <%= csrf_meta_tags %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
